In [4]:
import numpy as np
import pandas as pd 
import sklearn
from sklearn.impute import SimpleImputer
from feature_engine.encoding import RareLableEncoder

import warnings

In [5]:
pd.set_option("display.max_columns", None)
sklearn.set_config(transform_output="pandas")
warnings.filterwarnings("ignore")

In [6]:
path = r"/Users/harsimranjitsingh/Desktop/Projects/data/train.csv"
train  = pd.read_csv(path)

In [7]:
train

,airline,date_of_journey,source,destination,dep_time,arrival_time,duration,total_stops,additional_info,price
0,Jet Airways,2019-03-06,Delhi,Cochin,18:15:00,19:45:00,1530,1.0,No Info,17024
1,Indigo,2019-03-09,Delhi,Cochin,04:55:00,12:00:00,425,1.0,No Info,6171
2,Air India,2019-06-15,Delhi,Cochin,13:20:00,07:40:00,1100,2.0,No Info,12121
3,Multiple Carriers,2019-03-27,Delhi,Cochin,10:20:00,01:35:00,915,1.0,No Info,6427
4,Jet Airways,2019-05-01,Kolkata,Banglore,21:10:00,04:40:00,450,1.0,In-flight meal not included,10844
...,...,...,...,...,...,...,...,...,...,...
6395,Jet Airways,2019-06-12,Kolkata,Banglore,06:30:00,16:20:00,590,1.0,In-flight meal not included,9899
6396,Indigo,2019-03-06,Delhi,Cochin,11:55:00,22:20:00,625,1.0,No Info,6442
6397,Indigo,2019-05-18,Banglore,Delhi,13:00:00,15:50:00,170,0.0,No Info,4423
6398,Air India,2019-03-06,Delhi,Cochin,07:00:00,19:15:00,735,1.0,No Info,15809
6399,Air India,2019-05-01,Kolkata,Banglore,09:50:00,08:55:00,1385,2.0,No Info,13227

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6400 entries, 0 to 6399
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   airline          6400 non-null   object
 1   date_of_journey  6400 non-null   object
 2   source           6400 non-null   object
 3   destination      6400 non-null   object
 4   dep_time         6400 non-null   object
 5   arrival_time     6400 non-null   object
 6   duration         6400 non-null   int64
 7   total_stops      6400 non-null   float64
 8   additional_info  6400 non-null   object
 9   price            6400 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 500.1+ KB

In [10]:
X_train = train.drop(columns="price")
y_train = train.price.copy()

In [11]:
## Transformation operation
X_train.columns.to_list()

['airline',
 'date_of_journey',
 'source',
 'destination',
 'dep_time',
 'arrival_time',
 'duration',
 'total_stops',
 'additional_info']

In [12]:
X_train.airline

0             Jet Airways
1                  Indigo
2               Air India
3       Multiple Carriers
4             Jet Airways
              ...
6395          Jet Airways
6396               Indigo
6397               Indigo
6398            Air India
6399            Air India
Name: airline, Length: 6400, dtype: object